* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin: 3em 0;
  padding: 0;
}

.outer {
  margin: 0 auto;
  max-width: 480px;
}

.logo {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0ZWQgYnkgSWNvTW9vbi5pbyAtLT4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDMyIDMyIj4KPGcgaWQ9Imljb21vb24taWdub3JlIj4KCTxsaW5lIHN0cm9rZS13aWR0aD0iMSIgeDE9IiIgeTE9IiIgeDI9IiIgeTI9IiIgc3Ryb2tlPSIjNDQ5RkRCIiBvcGFjaXR5PSIiPjwvbGluZT4KPC9nPgoJPHBhdGggZD0iTTI2LjUyIDI0LjcwNWwtNi41Mi0xMS4yOTN2LTcuODc3aDAuNzVjMC42OSAwIDEuMjUtMC41NiAxLjI1LTEuMjVzLTAuNTYtMS4yNS0xLjI1LTEuMjVoLTkuNWMtMC42OSAwLTEuMjUgMC41Ni0xLjI1IDEuMjVzMC41NiAxLjI1IDEuMjUgMS4yNWgwLjc1djcuODc3bC02LjUyIDExLjI5M2MtMS4zNzUgMi4zODEtMC4yNSA0LjMzIDIuNSA0LjMzaDE2LjA0MGMyLjc1IDAgMy44NzUtMS45NDkgMi41LTQuMzN6TTE0LjUgNS41MzVoM2wtMC4wMDIgOC41NDMgMS45OTYgMy40NTdoLTYuOTljMS4xMjMtMS45NDYgMS45OTYtMy40NTkgMS45OTYtMy40NTl2LTguNTQxek0yNC4wMjAgMjYuNTM1aC0xNi4wNDBjLTAuMjU5IDAtMC40NDMtMC4wMzAtMC41NjEtMC4wNjMgMC4wMzEtMC4xMTkgMC4wOTctMC4yOTQgMC4yMjctMC41MTggMCAwIDEuNzA2LTIuOTU3IDMuNDE2LTUuOTJsOS44NzYtMCAzLjQxOCA1LjkyYzAuMTI5IDAuMjI0IDAuMTk1IDAuMzk5IDAuMjI3IDAuNTE4LTAuMTE4IDAuMDMyLTAuMzAzIDAuMDYzLTAuNTYyIDAuMDYzeiIgZmlsbD0iIzAwMDAwMCI+PC9wYXRoPgo8L3N2Zz4K');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 1.5em;
  margin: 0 auto .75em;
  width: 1.5em;
}

.title {
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: .3em;
  margin: 0 0 .25em;
  text-align: center;
  text-indent: .3em;
  text-transform: uppercase;
}

.subtitle {
  color: #999;
  font-size: .875em;
  margin-bottom: 2em;
  text-align: center;
}

.details {
  overflow: hidden;
  margin-top: 1em;
}

.details .name {
  display: inline-block;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 2.25rem;
  padding-left: 1.25rem;
  vertical-align: middle;
}

.details .inc {
  border-radius: 3em;
  border: #eb5f3a 1px solid;
  background: transparent;
  color: #eb5f3a;
  cursor: pointer;
  float: right;
  font-family: 'Source Sans Pro' ,'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 10px 30px;
  transition: all 200ms ease-in;
}

.inc:hover {
  background: #eb5f3a;
  color: #fff;
}

.inc:active {
  box-shadow: rgba(0,0,0,.3) 0 1px 3px 0 inset;
}

.message {
  color: #aaa;
  line-height: 2.25rem;
  text-align: center;
  margin-top: 1em;
}

@media (max-width: 500px) {
  .details, .message {
    display: block;
    position: fixed;
    bottom: 0;
    background-color: #fafafa;
    width: 100%;
    padding: 12px 15px;
    border-top: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }

  .details .name {
    font-size: 1.2em;
    padding-left: 0;
  }

  .details .inc {
    padding: 10px 20px;
  }

  body {
    margin: 2em 0 4em 0;
  }
}
