body {
  padding: 20px;
}

#add-new-player-form {
  margin: 30px 0;
}

.griddle-previous, .griddle-page, .griddle-next{
  float:left;
  width:33%;
  min-height:1px;
  margin-top:5px;
}

.griddle-page{
  text-align:center;
}

.griddle-next{
  text-align:right;
}
